* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

nav {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 1.1rem;
  color: rgb(33,33,33);
  overflow: hidden;
}

.hero-section {
  height: 80vh;
  margin: 0 10%;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: #fff;
  display: flex; 
  flex-direction: column;
  align-items: center;

}

.cta-text {
  display: flex;
  font-size: 2rem;
  gap: 12px;

}

.cta-text h2 {
  overflow: hidden;
}

.cta-text span { 
  /* text-shadow: rgba(0,0,0,0.4) 0px 0px 20px; */
  display: block;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);

}

.cta-btn {
  margin: 1rem; 
  padding: 0.5rem 2rem;
  border-style: none;
  background-color: #fff; 
  font-family: "Poppins", sans-serif;
  border-radius: 0.3rem;
  color: rgb(33,33,33);
  font-size: 0.7rem;
}


